@use '../../styles/index.scss';

header {
    padding: 20px 0px;
    border-bottom: 1px solid ;
}

.header {
    display: flex;
    justify-content: space-between;
}

.logo-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 24px;
    max-width: max-content;
    .logo-title--text {
        font-family: index.$font;
        font-size: 24px;
        font-weight: 700;
        color: index.$text-primary;
    }
}