@import '../../styles/index.scss';

header {
    padding: 20px 0px;
    border-bottom: 1px solid ;
}

.header {
    display: flex;
    justify-content: space-between;
}

.logo__title {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 24px;
    max-width: max-content;
    .logo__title--text {
        font-family: $font;
        font-size: 24px;
        font-weight: 700;
        color: $text-primary;
    }
}